/* Your CSS styles */ 
body {
    font-family: Arial, sans-serif;
}

.animated-bg {
    animation: gradient 5s ease infinite;
    background: linear-gradient(-45deg, #ff9a9e, #fad0c4, #fad0c4, #ffecd2);
    background-size: 400% 400%;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
